<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        
    </h:head>
    <ui:composition>

        <p:dialog id="SachCreateDlg" widgetVar="SachCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateSachTitle}">
            <h:form id="SachCreateForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sachController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateSachLabel_maSach}" for="maSach" />
                        <p:inputText id="maSach" value="#{sachController.selected.maSach}" title="#{bundle.CreateSachTitle_maSach}" required="true" requiredMessage="#{bundle.CreateSachRequiredMessage_maSach}"/>
                        <p:outputLabel value="#{bundle.CreateSachLabel_tensach}" for="tensach" />
                        <p:inputText id="tensach" value="#{sachController.selected.tensach}" title="#{bundle.CreateSachTitle_tensach}" />
                        <p:outputLabel value="#{bundle.CreateSachLabel_tomtat}" for="tomtat" />
                        <p:inputText id="tomtat" value="#{sachController.selected.tomtat}" title="#{bundle.CreateSachTitle_tomtat}" />
                  
                        <p:outputLabel value="#{bundle.CreateSachLabel_tenanh}" for="tenanh" />
                        <p:fileUpload fileUploadListener="#{sachController.handleAnhUpload}" value="#{sachController.anh}" auto="true" mode="advanced" id="tenanh" skinSimple="true"/>
                  
                        <p:outputLabel value="#{bundle.CreateSachLabel_tenfile}" for="tenfile" />
                        <p:fileUpload fileUploadListener="#{sachController.handleFileUpload}"  auto="true" id="tenfile" mode="advanced" skinSimple="true"/>
                      
                        <p:outputLabel value="#{bundle.CreateSachLabel_trangThai}" for="trangThai" />
                        <p:selectBooleanCheckbox id="trangThai" value="#{sachController.selected.trangThai}" />
                        <p:outputLabel value="#{bundle.CreateSachLabel_maLoai}" for="maLoai" />
                        <p:selectOneMenu id="maLoai" value="#{sachController.selected.maLoai}" >
                            <f:selectItems value="#{loaiSachController.itemsAvailableSelectOne}"
                                           var="maLoaiItem"
                                           itemValue="#{maLoaiItem}" itemLabel="#{maLoaiItem.tenloai}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateSachLabel_maNXB}" for="maNXB" />
                        <p:selectOneMenu id="maNXB" value="#{sachController.selected.maNXB}" >
                            <f:selectItems value="#{nhaXBController.itemsAvailableSelectOne}"
                                           var="maNXBItem"
                                           itemValue="#{maNXBItem}" itemLabel="#{maNXBItem.tenNXB}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateSachLabel_maTG}" for="maTG" />
                        <p:selectOneMenu id="maTG" value="#{sachController.selected.maTG}" >
                            <f:selectItems value="#{tacGiaController.itemsAvailableSelectOne}"
                                           var="maTGItem"
                                           itemValue="#{maTGItem}" itemLabel="#{maTGItem.tentacgia}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sachController.create}" value="#{bundle.Save}" update="display,:SachListForm:datalist,:growl" oncomplete="handleSubmit(args,'SachCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SachCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
