<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SachEditDlg" widgetVar="SachEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSachTitle}">
            <h:form id="SachEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sachController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSachLabel_maSach}" for="maSach" />
                        <p:inputText id="maSach" value="#{sachController.selected.maSach}" readonly="true" title="#{bundle.EditSachTitle_maSach}" required="true" requiredMessage="#{bundle.EditSachRequiredMessage_maSach}"/>
                        <p:outputLabel value="#{bundle.EditSachLabel_tensach}" for="tensach" />
                        <p:inputText id="tensach" value="#{sachController.selected.tensach}" title="#{bundle.EditSachTitle_tensach}" />
                        <p:outputLabel value="#{bundle.EditSachLabel_tomtat}" for="tomtat" />
                        <p:inputText id="tomtat" value="#{sachController.selected.tomtat}" title="#{bundle.EditSachTitle_tomtat}" />
                        <p:outputLabel value="#{bundle.EditSachLabel_tenanh}" for="tenanh" />
                        <p:inputText id="tenanh" value="#{sachController.selected.tenanh}" title="#{bundle.EditSachTitle_tenanh}" />
                        <p:outputLabel value="#{bundle.EditSachLabel_tenfile}" for="tenfile" />
                        <p:inputText id="tenfile" value="#{sachController.selected.tenfile}" title="#{bundle.EditSachTitle_tenfile}" />
                        <p:outputLabel value="#{bundle.EditSachLabel_trangThai}" for="trangThai" />
                        <p:selectBooleanCheckbox id="trangThai" value="#{sachController.selected.trangThai}" />
                        <p:outputLabel value="#{bundle.EditSachLabel_maLoai}" for="maLoai" />
                        <p:selectOneMenu id="maLoai" value="#{sachController.selected.maLoai}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{loaiSachController.itemsAvailableSelectOne}"
                                           var="maLoaiItem"
                                           itemValue="#{maLoaiItem}" itemLabel="#{maLoaiItem.tenloai}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditSachLabel_maNXB}" for="maNXB" />
                        <p:selectOneMenu id="maNXB" value="#{sachController.selected.maNXB}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{nhaXBController.itemsAvailableSelectOne}"
                                           var="maNXBItem"
                                           itemValue="#{maNXBItem}" itemLabel="#{maNXBItem.tenNXB}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditSachLabel_maTG}" for="maTG" />
                        <p:selectOneMenu id="maTG" value="#{sachController.selected.maTG}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tacGiaController.itemsAvailableSelectOne}"
                                           var="maTGItem"
                                           itemValue="#{maTGItem}" itemLabel="#{maTGItem.tentacgia}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sachController.update}" value="#{bundle.Save}" update="display,:SachListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SachEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SachEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
