<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SachViewDlg" widgetVar="SachViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSachTitle}">
            <h:form id="SachViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sachController.selected != null}">
                        <h:outputText value="#{bundle.ViewSachLabel_maSach}"/>
                        <h:outputText value="#{sachController.selected.maSach}" title="#{bundle.ViewSachTitle_maSach}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_tensach}"/>
                        <h:outputText value="#{sachController.selected.tensach}" title="#{bundle.ViewSachTitle_tensach}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_tomtat}"/>
                        <h:outputText value="#{sachController.selected.tomtat}" title="#{bundle.ViewSachTitle_tomtat}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_tenanh}"/>
                        <h:outputText value="#{sachController.selected.tenanh}" title="#{bundle.ViewSachTitle_tenanh}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_tenfile}"/>
                        <h:outputText value="#{sachController.selected.tenfile}" title="#{bundle.ViewSachTitle_tenfile}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_trangThai}"/>
                        <p:selectBooleanCheckbox value="#{sachController.selected.trangThai}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewSachLabel_maLoai}"/>
                        <h:outputText value="#{sachController.selected.maLoai}" title="#{bundle.ViewSachTitle_maLoai}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_maNXB}"/>
                        <h:outputText value="#{sachController.selected.maNXB}" title="#{bundle.ViewSachTitle_maNXB}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_maTG}"/>
                        <h:outputText value="#{sachController.selected.maTG}" title="#{bundle.ViewSachTitle_maTG}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SachViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
