<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AdminAccountViewDlg" widgetVar="AdminAccountViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAdminAccountTitle}">
            <h:form id="AdminAccountViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{adminAccountController.selected != null}">
                        <h:outputText value="#{bundle.ViewAdminAccountLabel_username}"/>
                        <h:outputText value="#{adminAccountController.selected.username}" title="#{bundle.ViewAdminAccountTitle_username}"/>
                        <h:outputText value="#{bundle.ViewAdminAccountLabel_password}"/>
                        <h:outputText value="#{adminAccountController.selected.password}" title="#{bundle.ViewAdminAccountTitle_password}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AdminAccountViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
