<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NhaXBViewDlg" widgetVar="NhaXBViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewNhaXBTitle}">
            <h:form id="NhaXBViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{nhaXBController.selected != null}">
                        <h:outputText value="#{bundle.ViewNhaXBLabel_maNXB}"/>
                        <h:outputText value="#{nhaXBController.selected.maNXB}" title="#{bundle.ViewNhaXBTitle_maNXB}"/>
                        <h:outputText value="#{bundle.ViewNhaXBLabel_tenNXB}"/>
                        <h:outputText value="#{nhaXBController.selected.tenNXB}" title="#{bundle.ViewNhaXBTitle_tenNXB}"/>
                        <h:outputText value="#{bundle.ViewNhaXBLabel_diachi}"/>
                        <h:outputText value="#{nhaXBController.selected.diachi}" title="#{bundle.ViewNhaXBTitle_diachi}"/>
                        <h:outputText value="#{bundle.ViewNhaXBLabel_sdt}"/>
                        <h:outputText value="#{nhaXBController.selected.sdt}" title="#{bundle.ViewNhaXBTitle_sdt}"/>
                        <h:outputText value="#{bundle.ViewNhaXBLabel_email}"/>
                        <h:outputText value="#{nhaXBController.selected.email}" title="#{bundle.ViewNhaXBTitle_email}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="NhaXBViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
