<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoaiSachCreateDlg" widgetVar="LoaiSachCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLoaiSachTitle}">
            <h:form id="LoaiSachCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loaiSachController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateLoaiSachLabel_maLoai}" for="maLoai" />
                        <p:inputText id="maLoai" value="#{loaiSachController.selected.maLoai}" title="#{bundle.CreateLoaiSachTitle_maLoai}" required="true" requiredMessage="#{bundle.CreateLoaiSachRequiredMessage_maLoai}"/>
                        <p:outputLabel value="#{bundle.CreateLoaiSachLabel_tenloai}" for="tenloai" />
                        <p:inputText id="tenloai" value="#{loaiSachController.selected.tenloai}" title="#{bundle.CreateLoaiSachTitle_tenloai}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{loaiSachController.create}" value="#{bundle.Save}" update="display,:LoaiSachListForm:datalist,:growl" oncomplete="handleSubmit(args,'LoaiSachCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LoaiSachCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
