<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoaiSachViewDlg" widgetVar="LoaiSachViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLoaiSachTitle}">
            <h:form id="LoaiSachViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loaiSachController.selected != null}">
                        <h:outputText value="#{bundle.ViewLoaiSachLabel_maLoai}"/>
                        <h:outputText value="#{loaiSachController.selected.maLoai}" title="#{bundle.ViewLoaiSachTitle_maLoai}"/>
                        <h:outputText value="#{bundle.ViewLoaiSachLabel_tenloai}"/>
                        <h:outputText value="#{loaiSachController.selected.tenloai}" title="#{bundle.ViewLoaiSachTitle_tenloai}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LoaiSachViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
