<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TacGiaCreateDlg" widgetVar="TacGiaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTacGiaTitle}">
            <h:form id="TacGiaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tacGiaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTacGiaLabel_maTG}" for="maTG" />
                        <p:inputText id="maTG" value="#{tacGiaController.selected.maTG}" title="#{bundle.CreateTacGiaTitle_maTG}" required="true" requiredMessage="#{bundle.CreateTacGiaRequiredMessage_maTG}"/>
                        <p:outputLabel value="#{bundle.CreateTacGiaLabel_tentacgia}" for="tentacgia" />
                        <p:inputText id="tentacgia" value="#{tacGiaController.selected.tentacgia}" title="#{bundle.CreateTacGiaTitle_tentacgia}" />
                        <p:outputLabel value="#{bundle.CreateTacGiaLabel_diachi}" for="diachi" />
                        <p:inputText id="diachi" value="#{tacGiaController.selected.diachi}" title="#{bundle.CreateTacGiaTitle_diachi}" />
                        <p:outputLabel value="#{bundle.CreateTacGiaLabel_sdt}" for="sdt" />
                        <p:inputText id="sdt" value="#{tacGiaController.selected.sdt}" title="#{bundle.CreateTacGiaTitle_sdt}" />
                        <p:outputLabel value="#{bundle.CreateTacGiaLabel_email}" for="email" />
                        <p:inputText id="email" value="#{tacGiaController.selected.email}" title="#{bundle.CreateTacGiaTitle_email}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tacGiaController.create}" value="#{bundle.Save}" update="display,:TacGiaListForm:datalist,:growl" oncomplete="handleSubmit(args,'TacGiaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TacGiaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
