<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListTacGiaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="TacGiaListForm">
                <p:panel header="#{bundle.ListTacGiaTitle}">
                    <p:dataTable id="datalist" value="#{tacGiaController.items}" var="item"
                                 selectionMode="single" selection="#{tacGiaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.maTG}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTacGiaTitle_maTG}"/>
                            </f:facet>
                            <h:outputText value="#{item.maTG}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTacGiaTitle_tentacgia}"/>
                            </f:facet>
                            <h:outputText value="#{item.tentacgia}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTacGiaTitle_diachi}"/>
                            </f:facet>
                            <h:outputText value="#{item.diachi}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTacGiaTitle_sdt}"/>
                            </f:facet>
                            <h:outputText value="#{item.sdt}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTacGiaTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{tacGiaController.prepareCreate}" update=":TacGiaCreateForm" oncomplete="PF('TacGiaCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":TacGiaViewForm" oncomplete="PF('TacGiaViewDialog').show()" disabled="#{empty tacGiaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":TacGiaEditForm" oncomplete="PF('TacGiaEditDialog').show()" disabled="#{empty tacGiaController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{tacGiaController.destroy}" update=":growl,datalist" disabled="#{empty tacGiaController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
