<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TacGiaViewDlg" widgetVar="TacGiaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTacGiaTitle}">
            <h:form id="TacGiaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tacGiaController.selected != null}">
                        <h:outputText value="#{bundle.ViewTacGiaLabel_maTG}"/>
                        <h:outputText value="#{tacGiaController.selected.maTG}" title="#{bundle.ViewTacGiaTitle_maTG}"/>
                        <h:outputText value="#{bundle.ViewTacGiaLabel_tentacgia}"/>
                        <h:outputText value="#{tacGiaController.selected.tentacgia}" title="#{bundle.ViewTacGiaTitle_tentacgia}"/>
                        <h:outputText value="#{bundle.ViewTacGiaLabel_diachi}"/>
                        <h:outputText value="#{tacGiaController.selected.diachi}" title="#{bundle.ViewTacGiaTitle_diachi}"/>
                        <h:outputText value="#{bundle.ViewTacGiaLabel_sdt}"/>
                        <h:outputText value="#{tacGiaController.selected.sdt}" title="#{bundle.ViewTacGiaTitle_sdt}"/>
                        <h:outputText value="#{bundle.ViewTacGiaLabel_email}"/>
                        <h:outputText value="#{tacGiaController.selected.email}" title="#{bundle.ViewTacGiaTitle_email}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TacGiaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
