<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div style="width: 80%;height: auto; margin: auto;margin-top: 50px;">
            <a href="faces/index.xhtml">Go to admin page</a>
            <h:form id="search">
                <p:panel id="panel" header="Search Form" style="margin-bottom:10px;">
                    <p:messages id="messages" />

                    <h:panelGrid columns="3" cellpadding="2">
                        <h:outputLabel for="txt1" value="Tìm kiếm" />
                        <p:inputText id="txt1" value="#{clienController.keyword}" label="Search"/>
                    </h:panelGrid>
                </p:panel>
            </h:form>
            <h:form id="form">
                <p:dataGrid var="b" value="#{clienController.listBooks}" columns="4" layout="grid"
                            rows="12" paginator="true" id="books"
                            paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                            rowsPerPageTemplate="6,12,16">

                    <f:facet name="header">
                        Danh sách
                    </f:facet>
                    <p:panel header="#{b.tensach}" style="text-align:center">
                        <h:panelGrid columns="1" style="width:100%">
                            <p:graphicImage height="270" width="200" library="images" name="#{b.tenanh}"/>
                            <p:commandLink update=":form:bookDetail" oncomplete="PF('bookDialog').show()" title="View Detail">
                                <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                                <f:setPropertyActionListener value="#{b}" target="#{clienController.book}" />
                            </p:commandLink>
                        </h:panelGrid>
                    </p:panel>

                </p:dataGrid>

                <p:dialog header="Thông tin chi tiết" widgetVar="bookDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="bookDetail" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty clienController.book}" columnClasses="label,value">
                            <f:facet name="header">
                                <p:graphicImage width="150" height="200" library="images" name="#{clienController.book.tenanh}"/>
                            </f:facet>

                            <h:outputText value="Mã sách:" />
                            <h:outputText value="#{clienController.book.maSach}" />

                            <h:outputText value="Tên sách:" />
                            <h:outputText value="#{clienController.book.tensach}" />

                            <h:outputText value="Tác giả:" />
                            <h:outputText value="#{clienController.book.maTG.tentacgia}" />

                            <h:outputText value="Thể loại:" />
                            <h:outputText value="#{clienController.book.maLoai.tenloai}"/>

                            <h:outputText value="Nhà XB:" />
                            <h:outputText value="#{clienController.book.maNXB.tenNXB}"/>

                            <h:outputText value="Tóm tắt:" />
                            <h:outputText value="#{clienController.book.tomtat}"/>

                            <h:outputText value="Tải xuống:" />
                            <p:commandButton value="Tải xuống" ajax="false" icon="ui-icon-arrowthick-1-s">
                                <p:fileDownload value="#{clienController.file}"/>
                            </p:commandButton>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>
                <p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
                    <p:graphicImage library="system" name="loadingbar.gif" />
                </p:dialog>
            </h:form>
        </div>

    </h:body>
</html>

