<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/adminAccount/List" value="Show All AdminAccount Items"/>
        <br />
        <h:link outcome="/loaiSach/List" value="Show All LoaiSach Items"/>
        <br />
        <h:link outcome="/nhaXB/List" value="Show All NhaXB Items"/>
        <br />
        <h:link outcome="/sach/List" value="Show All Sach Items"/>
        <br />
        <h:link outcome="/tacGia/List" value="Show All TacGia Items"/><br/>
        -----------------------------------------------<br/>
         <h:link outcome="/client" value="Go to client page"/>
    </h:body>





</html>

